icat:
  url: https://127.0.0.1:8181
  check_cert: False
  admin_users:
    - auth: simple
      username: root
fts3:
  endpoint: https://127.0.0.1:8446
  instrument_data_cache: cephfs://clf/epac
  user_data_cache: cephfs://epac_from_archive
  tape_archive: tape://archive